[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "thirdparty/yaml-cpp"]
	path = thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "thirdparty/cxxopts"]
	path = thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
